*{
    text-decoration: none;
    margin: 0;
}

nav{    
    position: fixed;
    background-color: transparent;
    width: 100%;
    height: 75px;
    top: 0;
    left: 0;
    backdrop-filter:  blur(5px) saturate(65%) contrast(160%); 
    z-index: 2;   
}

.instagram{
    float: right;
    position: relative;
    left: -25px;
    padding: 25px 25px ;
    top: 25px;
    background-image: url(instagram.png);
    background-repeat: no-repeat;
}

.youtube{
    float: right;
    position: relative;
    padding: 25px 25px;
    top: 25px;
    left: -55px;
    background-image: url(youtube.png);
    background-repeat: no-repeat;    
}

.twitter{
    float: right;
    position: relative;
    padding: 25px 25px;
    top: 25px;
    left: -40px;
    background-image: url(twitter.png);
    background-repeat: no-repeat;    
}
nav ul{
    float: left;
    display: flex;
    margin: 0;
    padding: 0;      

}

nav ul li{
    list-style: none;
    
}

nav ul li a{
    height: 75px;
    line-height: 75px;
    padding: 20px 20px;
    color: white;
    display: block;
    font: normal 20px verdana; 
    text-transform: uppercase;     
}

.bg1{
    height: 100vh;
    width: 100%;
    background-image: url(img/concert.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bgtext1{
    height: 300px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg2{
    height: 100vh;
    width: 100%;
    background-image: url(img/pic2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bgtext2{
    height: 300px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg3{
    height: 100vh;
    width: 100%;
    background-image: url(img/pic3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bgtext3{
    height: 300px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg4{
    height: 100vh;
    width: 100%;
    background-image: url(img/pic4.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bgtext4{
    height: 70px;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



